.outerCont{
    max-width: 100%;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.innerCont{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;

}
